<p id="notice"><%= notice %></p>

<p>
  <b>Street1:</b>
  <%= @listing.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @listing.street2 %>
</p>

<p>
  <b>City:</b>
  <%= @listing.city %>
</p>

<p>
  <b>State:</b>
  <%= @listing.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @listing.zip %>
</p>

<p>
  <b>Beds:</b>
  <%= @listing.beds %>
</p>

<p>
  <b>Baths:</b>
  <%= @listing.baths %>
</p>

<p>
  <b>Agent:</b>
  <%= @listing.agent_id %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
