<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @agent.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @agent.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @agent.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @agent.phone %>
</p>

<p>
  <b>License Number</b>
  <%= @agent.license_number %>
</p>

<p>
  <b>Broker ID:</b>
  <%= @agent.broker_id %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
