<h1>Listing brokers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Street1</th>
    <th>Street2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brokers.each do |broker| %>
  <tr>
    <td><%= broker.name %></td>
    <td><%= broker.street1 %></td>
    <td><%= broker.street2 %></td>
    <td><%= broker.city %></td>
    <td><%= broker.state %></td>
    <td><%= broker.zip %></td>
    <td><%= link_to 'Show', broker %></td>
    <td><%= link_to 'Edit', edit_broker_path(broker) %></td>
    <td><%= link_to 'Destroy', broker, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Broker', new_broker_path %>
